<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stickheaderlayout.simple">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ScrollViewSimpleActivity" />
        <activity android:name=".ListViewSimpleActivity" />
        <activity android:name=".RecyclerViewSimpleActivity" />
        <activity android:name=".WebViewSimpleActivity" />
        <activity android:name=".ViewPagerSimpleActivity" />
        <activity android:name=".PullToRefreshListViewSimpleActivity" />
        <activity android:name=".PullTofreshViewPagerSimpleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".PullTofreshViewPagerFragmentSimpleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>
